In [10]:
import numpy as np
import pandas as pd
import glob
import os
from pathlib import Path
from itertools import product


df = pd.read_csv('/Users/caldera/Documents/EPFL/GAP/Project/Projet-Gameplay/wip/kevin/data/visu/videos-smb-yt/smb4.csv')
FPS = 30

In [11]:

df_trim = df[(df['KEY'] == 'Key.left') | (df['KEY'] == 'Key.right') | (df['KEY'] == 'x')]

#R -> Down, r -> Up
df_trim.loc[(df_trim['KEY'] == 'Key.right') & (df_trim['STATUS'] == 'DOWN'), 'action'] = 'R'
df_trim.loc[(df_trim['KEY'] == 'Key.right') & (df_trim['STATUS'] == 'UP'), 'action'] = 'r'

df_trim.loc[(df_trim['KEY'] == 'Key.left') & (df_trim['STATUS'] == 'DOWN'), 'action'] = 'L'
df_trim.loc[(df_trim['KEY'] == 'Key.left') & (df_trim['STATUS'] == 'UP'), 'action'] = 'l'

df_trim.loc[(df_trim['KEY'] == 'x') & (df_trim['STATUS'] == 'DOWN'), 'action'] = 'J'
df_trim.loc[(df_trim['KEY'] == 'x') & (df_trim['STATUS'] == 'UP'), 'action'] = 'j'
df_trim

      FRAME        KEY STATUS action
0      1000          x   DOWN      J
1      1003          x     UP      j
2      1007          x   DOWN      J
3      1008          x     UP      j
4      1014          x   DOWN      J
...     ...        ...    ...    ...
6551  55943  Key.right     UP      r
6552  55944  Key.right   DOWN      R
6553  55947  Key.right     UP      r
6554  55955  Key.right   DOWN      R
6555  55956  Key.right     UP      r

[6556 rows x 4 columns]

In [12]:
df_trim = df_trim.drop(labels=['KEY', 'STATUS'], axis='columns')
df_trim

      FRAME action
0      1000      J
1      1003      j
2      1007      J
3      1008      j
4      1014      J
...     ...    ...
6551  55943      r
6552  55944      R
6553  55947      r
6554  55955      R
6555  55956      r

[6556 rows x 2 columns]

In [13]:
df_trim.to_csv('/Users/caldera/Documents/EPFL/GAP/Project/Projet-Gameplay/wip/kevin/data/visu/videos-smb-yt/smb4_clean.csv')